/************/
/* MAIN     */
/************/
@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans:300,400,700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
}

::placeholder {
  color: grey;
}
/**************/
/* NAVIGATION */
/**************/

.guarantee {
  height: 50px;
  /* background-image: linear-gradient(to right, #6791cf, #3ca7da, #08bad8, #30cbcc, #68d9b9); */
  background-color: #68d9b9;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #fff;
}

.check__guarantee {
  margin-right: 7px;
  font-size: 22px;
}

@media only screen and (max-width: 800px) {
  .guarantee {
    display: none;
  }
}

li, a, button, .navbar__brand-text {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #9e9e9e;
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  background-color: #fff;
  box-shadow: -3px 0 7px rgba(0, 0, 0, 0.6);
  width: 100%;
}

.navbar-fixed {
  animation: mymove 0.3s ease-in-out;
  position: fixed;
  z-index: 2;
  top: 0%;
  left: 0%;
}

.navbar__brand-text {
  font-size: 18px;
}

.navbar__brand {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.navbar__brand-image {
  width: 45px;
  padding-right: 5px;
}

.nav__links {
  list-style: none;
  display: flex;
  font-weight: 400;
  justify-content: space-between;
  width: 45%;
}

.nav__links li {
  display: inline-block;
  /* padding: 0px 20px; */
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav-mobile__burger {
  display: none;
}

.nav-mobile__link {
  width: 25px;
  height: 5px;
}

/* searchbox */

.search-box__wrapper {
  display: inline-flex;
  width: 30%;
}

.search-box__input {
  border: 2px solid #68d9b9;
  border-radius: 4px 0 0 4px;
  padding: 0.5em 0.7em;
  border-right: 0;
  width: 100%;
  color: grey;
}

.search-box__input:focus {
  outline: none;
}

.search-box__button {
  border-radius: 0 4px 4px 0;
  border: 2px solid #68d9b9;
  background-color: transparent;
  padding: 0 0.75em;
  color: #68d9b9;
  border-left: none;
  transition: 0.15s ease;
  outline: none;
}

.search-box__button:hover {
  border-color: #68d9b9;
  background-color: #68d9b9;
  color: white;
  cursor: pointer;
}

.nav__right {
  display: flex;
  align-items: center;
}

.nav__basket-box {
  position: relative;
  border-radius: 50%;
  padding: 5px;
  width: 45px;
  height: 45px;
  transition: all 0.1s ease;
}

.nav__basket {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #9e9e9e;
  font-size: 22px;
  transition: all 0.1s ease;
}

.nav__basket-box:hover {
  background-color: #f0f0f0;
}

.nav__basket-box:hover .nav__basket {
  color: #68d9b9;
}

/* DROPDOWNS */

.projects {
  position: relative;
  height: 100%;
  padding: 25px 0;
}

.projects__dropdown {
  font-size: 16px;
  border: 1px solid transparent;
  padding: 10px 16px;
  transition: 0.1s ease;
}

.projects:hover .projects__dropdown  {
  background-color: #f5f5f5;
  color: #68d9b9;
  border: 1px solid #ededed;
  border-radius: 3px;
}

.dropdown {
  position: absolute;
  right: 0px;
  width: 200px;
  margin-top: 20px;
  background-color: white;
  border: 1px solid #ededed;
  border-radius: 2px;
  display: none;
  z-index: 10;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.dropdown::after {
  position: absolute;
  width: 15px;
  height: 15px;
  bottom: 100%;
  border-top: 1px solid #ededed;
  border-right: 0px solid #ededed;
  border-bottom: 0px solid #ededed;
  border-left: 1px solid #ededed;
  margin-bottom: -7.5px;
  left: 85%;
  content: '';
  transform: rotate(45deg);
  background-color: white;
}

.projects:hover .dropdown {
  display: block;
}

/* category list */
.category__list {
  padding: 10px 15px;;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.category__item {
  padding: 0;
  margin: 0;
}

.category__icon {
  transition: all 0.1s ease;
  float: left;
  width: 25px;
}

.category__item:hover .category__icon {
  color: #68d9b9;
}

.category__link {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.category__link:not(:last-of-type) {
  margin-bottom: 5px;
}

.category__link::after {
  display: table;
  clear: both;
  content: '';
}

.category__text {
  display: inline-block;
  margin-left: 10px;
}

/********/
/* HERO */
/********/

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/background.jpeg");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position:  100% 93%;
  height: 70vh;
  position: relative;
}

.div {
  height: 1000px;
}

.hero__text-box {
  color: white;
  text-transform: uppercase;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.hero__header {
  position: relative;
  font-size: 115px;
  letter-spacing: 7px;
  margin-bottom: 15px;
  font-weight: normal;
}

.hero__header::before {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
  width: 50%;
  border-bottom: 2px solid white;
}

.hero__text {
  font-size: 22px;
  letter-spacing: 4.5px;
  font-weight: normal;
}

/*********************/
/* SECTION-FUNCTIONS */
/*********************/

.section-functions {
  padding: 5% 5%;
  background-color: #f7f7f7;
}

.section-functions__heading {
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 80px;
  font-size: 50px;
}

/* card */

.functions__card {
  margin: 0 auto;
}

.card {
  border-radius: 5px;
  padding: 6% 9%;
  height: 100%;
  transition: all 0.3s ease;
}

.card__heading {
  text-align: center;
  margin-top: 16px;
  font-size: 35px;
  font-weight: normal;
}

.card__icon-box {
  margin: 0 auto;
  text-align: center;
}

.card__icon {
  font-size: 70px;
  transition: all 0.3s ease;
}

.card__text {
  text-align: center;
  margin-top: 12px;
  font-size: 16px;
}

/* .card:hover {
  cursor: pointer;
  background-color: white;
  transform: translateY(-3px);
  box-shadow: 0px 7px 13px rgba(104, 217, 185, 0.6);
}

.card:hover .card__icon {
  color: #68d9b9;
} */

@media only screen and (max-width: 1100px) {
  .card__heading {
    font-size: 30px;
  }

  .card__icon {
    font-size: 60px;
  }

  .card__text {
    font-size: 14px;
  }

  .section-functions__heading {
    font-size: 45px;
  }
}

@media only screen and (max-width: 900px) {
  .card__heading {
    font-size: 35px;
  }

  .functions__card::after {
    content: " ";
    display: block;
    width: 70%;
    position: absolute;
    left: 50%;
    margin-bottom: 3px solid grey;
  }

  .card__icon {
    font-size: 70px;
  }

  .card__text {
    font-size: 16px;
  }
}

/*******************/
/* SECTION-COURSES */
/*******************/

.section-courses {
  padding: 4% 9.5%;
}

.section-courses__heading {
  font-weight: normal;
  font-size: 40px;
  border-left: 10px solid #68d9b9;
  border-spacing: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}

/* course-card */

.course-card {
  border: 1px solid rgb(230, 230, 230);
  border-radius: 4px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
}

.course-card__image-box {
  /* background-image: url("../img/course2.jpg"); */
  width: 100%;
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

.course-card__image {
  width: 100%;
}

.course-card__content-box {
  padding: 0 5%;
}

.course-card__title {
  margin-top: 7px;
  font-weight: normal;
  font-size: 20px;
}

.course-card__author {
  font-size: 14px;
  margin-top: 6px;
  font-weight: 300;
  transition: all 0.1s ease;
}

.course-card__price-stars {
  margin: 15px 0 10px 0;
}

.course-card__stars-box {
  color: rgb(255, 228, 54);
  float: left;
}

.course-card__price {
  text-align: right;
  width: 100%;
  font-size: 16px;
}

.course-card:hover {
  background-color: rgb(240, 240, 240);
  cursor: pointer;
  box-shadow: 0 3px 5px rgba(104, 217, 185, 0.6);
  transform: translateY(-1px);
}

.course-card:hover .course-card__image-box {
  filter: grayscale(0.2);
}

.course-card__author:hover {
  color: #68d9b9;
}

/**********/
/* FOOTER */
/**********/

.footer {
  background-color: #eee;
  padding: 4% 9.5%;
}

.footer__logo-box {
  text-align: center;
  position: relative;
}

.footer__logo {
  width: 500px;
  margin-bottom: 20px;
}

.footer__logo-box::before {
  bottom: 0;
  content: '';
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20%;
  border-bottom: 4px solid #68d9b9;
}

.footer__content {
  display: flex;
  align-items: top;
  justify-content: space-between;
  margin-top: 30px;
}

.footer__links {
  width: 60%;
  columns: 2;
}

.footer__link {
  transition: all 0.1s ease;
  display: block;
}

.footer__link:not(:last-of-type) {
  margin-bottom: 10px;
}

.footer__link:hover {
  color: #68d9b9;
}

.footer__about-box {
  width: 50%;
  color: grey;
}

.footer__about {
  text-align: justify;
}

.footer__about-link {
  transition: all 0.1s ease;
}

.footer__about-link:hover {
  color: #68d9b9;
  cursor: pointer;
}

/***********/
/* classes */
/***********/

/* ****** */
/* GRID FOR FUNCTIONS CARDS */
/* ****** */

.row {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  justify-content: center;
  grid-gap: 150px;
}

/* media for functions card grid */

@media only screen and (max-width: 1400px) {
  .row {
    grid-template-columns: repeat(3, 300px);
    grid-gap: 75px;
    grid-template-rows: 340px;
  }
}

@media only screen and (max-width: 1100px) {
  .row {
    grid-template-columns: repeat(3, 250px);
    grid-gap: 50px;
    grid-template-rows: 320px;
  }
}

@media only screen and (max-width: 900px) {
  .row {
    grid-template-columns: repeat(1, 350px);
    grid-template-rows: 270px;
  }
}

/* ****** */
/* GRID FOR COURSES */
/* ****** */

.row-courses {
  display: grid;
  grid-template-columns: repeat(6, 230px);
  grid-gap: 25px;
}

/* media for courses card */

@media only screen and (max-width: 400px) {
  .row-courses {
    grid-template-columns: repeat(2, 200px);
  }

  .course-card__title {
    font-size: 18px;
  }
}

.row-courses:not(:last-of-type) {
  margin-bottom: 50px;
}

@media only screen and (max-width: 1700px) {
  .row-courses {
    grid-template-columns: repeat(5, 230px);
  }
}

@media only screen and (max-width: 1420px) {
  .row-courses {
    grid-template-columns: repeat(4, 230px);
  }
}

@media only screen and (max-width: 1150px) {
  .row-courses {
    grid-template-columns: repeat(3, 230px);
  }
}

@media only screen and (max-width: 860px) {
  .row-courses {
    grid-template-columns: repeat(2, 230px);
  }
}

.btn {
  text-decoration: none;
  padding: 10px 15px;
  border: 1px solid #68d9b9;
  background-color: #68d9b9;
  border-radius: 4px;
  color: #fff;
}

.btn:hover {
  color: #68d9b9;
  background-color: #fff;
  border: 1px solid #68d9b9;
}

.btn__login {

}

.test {
  height: 1000px;
}

.margin--right {
  margin-right: 7px;
}

.margin--right-big {
  margin-right: 70px;
}

.functions__on-click {
  transition: all ease .2s;
  background-color: white;
  transform: translateY(-3px);
  box-shadow: 0px 7px 13px rgba(104, 217, 185, 0.6);
}

.functions__on-click .card__icon {
  color: #68d9b9;
}

@media only screen and (max-width: 1300px) {
  .margin--right-big {
    margin-right: 35px;
  }
}

/**************************/
/* ANIMATIONS & KEYFRAMES */
/**************************/

@keyframes mymove {
  from {
    top: -69px;
  }
  to {
    top: 0px;
  }
}
