/************/
/* MAIN     */
/************/
@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans:300,400,700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
 min-height: 100vh;
}

body {
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
}

::placeholder {
  color: lightgrey;
}
/**************/
/* NAVIGATION */
/**************/

.guarantee {
  height: 50px;
  background-image: linear-gradient(to right, #68d9b9, #5edac9, #58dbd8, #5adbe5, #62dbf0);
  /* background-color: #68d9b9; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #fff;
}

.check__guarantee {
  margin-right: 7px;
  font-size: 22px;
}

@media only screen and (max-width: 800px) {
  .guarantee {
    display: none;
  }
}

li, a, button, .navbar__brand-text {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #9e9e9e;
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  background-color: #fff;
  box-shadow: -3px 0 7px rgba(0, 0, 0, 0.6);
  width: 100%;
  z-index: 10;
  position: relative;
}

.navbar-fixed {
  animation: mymove 0.3s ease-in-out;
  position: fixed;
  z-index: 2;
  top: 0%;
  left: 0%;
}

.navbar__brand-text {
  font-size: 20px;
}

.navbar__brand {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.navbar__brand-image {
  width: 50px;
  padding-right: 5px;
}

.nav__links {
  list-style: none;
  display: flex;
  font-weight: 400;
  justify-content: space-between;
  width: 45%;
}

.nav__links li {
  display: inline-block;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav-mobile__burger {
  height: 49px;
}

.nav-mobile__burger, .nav-mobile {
  display: none;
}

.line1, .line2, .line3 {
  width: 25px;
  height: 3px;
  background-color: grey;
  margin: 5px;
  border-radius: 3px;
  transition: all .5s ease-in;
}

.line1-active {
  transform: rotate(45deg) translateY(11px);

}
.line2-active {
  opacity: 0;
  transform: translateY(-11px);
  transform: rotate(-45deg);
}
.line3-active {
  transform: rotate(-45deg) translateY(-11px);
}

.nav-mobile {
  position: fixed;
  right: 0;
  height: 100vh;
  top: 48px;
  background-color: #fefefe;
  width: 30%;
  transform: translateX(100%);
  z-index: 101;
}



/* searchbox */

.search-box__wrapper {
  display: inline-flex;
  width: 30%;
}

.search-box__input:focus {
  background-color: #f5f5f5;
}

.search-box__input {
  border: 2px solid #68d9b9;
  border-radius: 4px 0 0 4px;
  padding: 0.5em 0.7em;
  border-right: 0;
  width: 100%;
  color: grey;
  background-color: #fafafa;
  transition: .4s;
}

.search-box__input:focus {
  outline: none;
}

.search-box__input:focus + .search-box__button {
  background-color: #68d9b9;
  color: #fff;
}

.search-box__button {
  border-radius: 0 4px 4px 0;
  border: 2px solid #68d9b9;
  border-left: none;
  background-color: transparent;
  padding: 0 0.75em;
  color: #68d9b9;
  transition: 0.15s ease;
  outline: none;
  background-color: #fafafa;
}

.search-box__button:hover {
  border-color: #68d9b9;
  background-color: #68d9b9;
  color: white;
  cursor: pointer;
}

.nav__right {
  display: flex;
  align-items: center;
}

.nav__basket-box {
  position: relative;
  border-radius: 50%;
  padding: 5px;
  width: 45px;
  height: 45px;
  transition: all 0.1s ease;
}

.nav__basket {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #9e9e9e;
  font-size: 22px;
  transition: all 0.1s ease;
}

.nav__basket-box:hover {
  background-color: #f0f0f0;
}

.nav__basket-box:hover .nav__basket {
  color: #68d9b9;
}

/* DROPDOWNS */

.projects {
  position: relative;
  height: 100%;
  padding: 25px 0;
}

.projects__dropdown {
  font-size: 16px;
  border: 1px solid transparent;
  padding: 10px 16px;
  transition: 0.1s ease;
}

.projects:hover .projects__dropdown  {
  background-color: #f5f5f5;
  color: #68d9b9;
  border: 1px solid #ededed;
  border-radius: 3px;
}

.dropdown {
  position: absolute;
  right: 0px;
  width: 200px;
  margin-top: 20px;
  background-color: white;
  border: 1px solid #ededed;
  border-radius: 2px;
  display: none;
  z-index: 10;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.dropdown::after {
  position: absolute;
  width: 15px;
  height: 15px;
  bottom: 100%;
  border-top: 1px solid #ededed;
  border-right: 0px solid #ededed;
  border-bottom: 0px solid #ededed;
  border-left: 1px solid #ededed;
  margin-bottom: -7.5px;
  left: 85%;
  content: '';
  transform: rotate(45deg);
  background-color: white;
}

.projects:hover .dropdown {
  display: block;
}

/* category list */
.category__list {
  padding: 10px 15px;;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.category__item {
  padding: 0;
  margin: 0;
}

.category__icon {
  transition: all 0.1s ease;
  float: left;
  width: 25px;
}

.category__item:hover .category__icon {
  color: #68d9b9;
}

.category__link {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.category__link:not(:last-of-type) {
  margin-bottom: 5px;
}

.category__link::after {
  display: table;
  clear: both;
  content: '';
}

.category__text {
  display: inline-block;
  margin-left: 10px;
}

@media only screen and (max-width: 1100px) {
  .nav__right {
    display: none;
  }

  .nav-mobile__burger {
    display: block;
    padding: 10px 0;
    cursor: pointer;
  }

  .nav-mobile {
    display: block;
    transition: all 0.5s ease-in;
  }

  .search-box__button {
    border-radius: 0 3px 3px 0;
    border: 1px solid #68d9b9;
    border-left: none;
  }
  .search-box__input {
    border-radius: 3px 0 0 3px;
    border: 1px solid #68d9b9;
    border-right: none;
  }

  .search-box__wrapper {
    width: 50%;
  }

  .nav-mobile {
    width: 50%;
  }
}

@media only screen and (max-width: 800px) {
  .search-box__wrapper {
    display: none;
  }
}

.nav-mobile__active {
  transform: translateX(0%) !important;
  box-shadow: -3px 5px 7px rgba(0, 0, 0, 0.2);;
}

/* navbar mobile content styles */
.nav-mobile {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.user__box {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 4% 3%;
  overflow: hidden;
  justify-content: space-between;
  position: relative;
}

.user__box::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: #f7f7f7;
  z-index: -1;
  transition: 0.8s;
  bottom: 0;
  border-radius: 50% 50% 0 0;
}

.user__box-active::before {
  height: 180%;
}

.user__box-login {
  width: 100%;
  padding: 30px 40px;
  text-align: center;
}

.user__img-box {
  border-radius: 50%;
  position: relative;
  width: 75px;
  height: 75px;
  overflow: hidden;
}

.user__img {
  position: absolute;
  width: 75px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.user__content-box {
  margin-left: 10px;
  text-align: right;
  width: 70%;
}

.user__info {
  text-align: left;
  margin-bottom: 5px;
  color: #9e9e9e;
}

.user__name, .user__surname {

}

.user__lvl-content-box {

}

.user__lvl-info {
  font-size: 12px;
  text-align: right;
  color: #9e9e9e;
}

.user__lvl-box {
  width: 100%;
  border-radius: 4px;
  height: 5px;
  background: lightgrey;
}

.user__lvl {
  width: 80%;
  height: 100%;
  border-radius: 3px;
  background-color: #68d9b9;
}

.category__item--mobile {
  padding: 0 0 5px 20px;
  width: 100%;
}

.category__text--mobile {
  margin-left: 20px;
}

.category__list--mobile {
  position: relative;
}

.category__list--mobile::after {
  content: "";
  width: 80%;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: 0%;
  border-bottom: 1px solid #e6e6e6;
}

.nav-mobile__basket-box {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 30px 25px;
  justify-content: center;
  position: relative;
}

.nav-mobile__basket-box::after {
  content: "";
  width: 80%;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: 0%;
  border-bottom: 1px solid #e6e6e6;
}

.nav__basket--mobile {
  color: #9e9e9e;
  font-size: 20px;
}

.nav-mobile__basket-text {
  margin-left: 20px;
  color: #9e9e9e;
  font-size: 16px;
}

.login-box--mobile {
  text-align: center;
}

.login--link {
  text-align: center;
  color: #9e9e9e;
  padding: 30px 20px;
}

@media only screen and (max-width: 900px) {
  .nav-mobile {
    width: 40%;
  }
}

@media only screen and (max-width: 600px) {
  .nav-mobile {
    width: 60%;
  }
}

@media only screen and (max-width: 500px) {
  .nav-mobile {
    width: 70%;
  }
}

/********/
/* HERO */
/********/

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/background.jpeg");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position:  100% 93%;
  height: 70vh;
  position: relative;
}

.hero__text-box {
  color: white;
  text-transform: uppercase;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.hero__header {
  position: relative;
  font-size: 115px;
  letter-spacing: 7px;
  margin-bottom: 15px;
  font-weight: normal;
  text-shadow: -1px 1px 3px rgba(0, 0, 0, 0.5);
}

.hero__header::before {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
  width: 50%;
  border-bottom: 2px solid white;
}

.hero__text {
  font-size: 22px;
  letter-spacing: 4.5px;
  font-weight: normal;
  margin-bottom: 20px;
}

.hero__searchbox-wrapper {
  display: none;
  position: relative;
  background-color: rgba(0, 0, 0, .4);
  border-radius: 3px;
}

.hero__searchbox {
  position: relative;
  top: -1px;
  outline: none;
  background-color: transparent;
  border: none;
  color: #dbdbdb;
  padding: 7px 8px;
}

.hero__searchbox:focus, .hero__searchbox:hover {
  outline: none;
}

.hero__searchbox-button {
  background-color: transparent;
  border: none;
  color: #dbdbdb;
  padding: 7px 8px;
}

.hero__searchbox-wrapper::after {
  display: table;
  content: "";
  clear: both;
}

@media only screen and (max-width: 1100px) {
  .hero {
    margin-top: -20px;
  }

  .hero__header {
    font-size: 95px;
  }

  .hero__text {
    font-size: 20px;
  }
}

@media only screen and (max-width: 900px) {
  .hero__search-box__wrapper {
    display: inline-flex;
    margin-top: 20px;
  }

  .hero {
    height: 60vh;
  }

  .hero__text-box {
    text-align: left;
    left: 10%;
    top: 25%;
    transform: translate(0%, 0%);
  }

  .hero__header::before {
    display: none;
  }

  .hero__header {
    font-size: 90px;
    letter-spacing: 0;
    margin: 0 0 0 -8px;
  }

  .hero__text {
    font-size: 18px;
    letter-spacing: 1px;
  }
}

@media only screen and (max-width: 800px) {
  .hero__searchbox-wrapper {
    display: inline-block;
  }
  .hero {
    height: 400px;
  }
}

@media only screen and (max-width: 600px) {
  .hero {
    height: 350px;
  }

  .hero__text-box {
    left: 5%;
    top: 25%;
  }

}

@media only screen and (max-width: 500px) {
  .hero {
    height: 250px;
  }

  .hero__header {
    font-size: 60px;
  }

  .hero__text {
    font-size: 14px;
  }
}

/*********************/
/* SECTION-FUNCTIONS */
/*********************/

.section-functions {
  padding: 5% 5%;
  background-color: #f7f7f7;
}

.section-functions__heading {
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 80px;
  font-size: 50px;
}

/* card */

.functions__card {
  margin: 0 auto;
}

.card {
  border-radius: 5px;
  padding: 6% 9%;
  height: 100%;
  transition: all 0.3s ease;
}

.card__heading {
  text-align: center;
  margin-top: 16px;
  font-size: 35px;
  font-weight: normal;
}

.card__icon-box {
  margin: 0 auto;
  text-align: center;
}

.card__icon {
  font-size: 70px;
  transition: all 0.3s ease;
}

.card__text {
  text-align: center;
  margin-top: 12px;
  font-size: 16px;
}
@media only screen and (min-width: 501px) {
  .card:hover {
    cursor: pointer;
    background-color: white;
    transform: translateY(-3px);
    box-shadow: 0px 7px 13px rgba(104, 217, 185, 0.6);
  }

  .card:hover .card__icon {
    color: #68d9b9;
  }
}

@media only screen and (max-width: 1100px) {
  .card__heading {
    font-size: 30px;
  }

  .card__icon {
    font-size: 60px;
  }

  .card__text {
    font-size: 14px;
  }

  .section-functions__heading {
    font-size: 45px;
  }
}

@media only screen and (max-width: 900px) {
  .card__heading {
    font-size: 35px;
  }

  .functions__card::after {
    content: " ";
    display: block;
    width: 70%;
    position: absolute;
    left: 50%;
    margin-bottom: 3px solid grey;
  }

  .card__icon {
    font-size: 70px;
  }

  .card__text {
    font-size: 16px;
  }
}

@media only screen and (max-width: 500px) {
  .card__text {
    display: none;
  }
  .card__icon {
    font-size: 40px;
  }

  .card__heading {
    font-size: 18px;
  }
  .section-functions__heading {
    display: none;
  }
}

@media only screen and (max-width: 400px) {
  .card__icon {
    font-size: 30px;
  }

  .card__heading {
    font-size: 16px;
  }
}

/*******************/
/* SECTION-COURSES */
/*******************/

.section-courses {
  padding: 4% 9.5%;
}

.section-courses__heading {
  font-weight: normal;
  font-size: 40px;
  border-left: 10px solid #68d9b9;
  border-spacing: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}

/* course-card */

.course-card {
  border: 1px solid rgb(230, 230, 230);
  border-radius: 4px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
}

.course-card__image-box {
  /* background-image: url("../img/course2.jpg"); */
  width: 100%;
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

.course-card__image {
  width: 100%;
}

.course-card__content-box {
  padding: 0 5%;
}

.course-card__title {
  margin-top: 7px;
  font-weight: normal;
  font-size: 20px;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.course-card__author {
  font-size: 14px;
  margin-top: 6px;
  font-weight: 300;
  transition: all 0.1s ease;
}

.course-card__price-stars {
  margin: 15px 0 10px 0;
}

.course-card__stars-box {
  color: rgb(255, 228, 54);
  float: left;
}

.course-card__price {
  text-align: right;
  width: 100%;
  font-size: 16px;
}

.course-card:hover {
  background-color: rgb(240, 240, 240);
  cursor: pointer;
  box-shadow: 0 3px 5px rgba(104, 217, 185, 0.6);
  transform: translateY(-1px);
}

.course-card:hover .course-card__image-box {
  filter: grayscale(0.2);
}

.course-card__author:hover {
  color: #68d9b9;
}

@media only screen and (max-width: 800px) {
  .section-courses__heading {
    font-size: 35px;
  }

  .section-courses {
    padding: 2% 4%;
  }
}

@media only screen and (max-width: 550px) {
  .section-courses__heading {
    font-size: 30px;
    margin: 20px 0;
    border-left: 5px solid #68d9b9;
  }

  .course-card {
    display: flex;
    justify-content: space-between;
    border: none;
    padding-bottom: 20px;
    box-shadow: none;
    border-radius: 0;
    align-items: center;
  }
  .col-1-5 {
    border-bottom: 1px solid #e6e6e6;
  }
  .col-1-5:last-of-type {
    border-bottom: 0;
  }
  .course-card__image-box {
    display: flex;
    align-items: center;
  }
  .course-card:hover {
    transform: translate(0, 0);
    background-color: #fff;
    box-shadow: none;
  }
  .course-card__image {
    border-radius: 2px;
  }
}

/* @media only screen and (max-width: 450px) {
  .course-card__title {
    font-size: 14px;
  }

  .course-card__author {
    font-size: 12px;
  }

  .course-card__price-stars {
    font-size: 12px;
  }
} */

/**********/
/* FOOTER */
/**********/

.footer {
  background-color: #fdfdfd;
  padding: 4% 9.5%;
}

.footer__logo-box {
  text-align: center;
  position: relative;
}

.footer__logo {
  width: 500px;
}

.footer__content {
  display: flex;
  align-items: top;
  justify-content: space-between;
  margin-top: 30px;
}

.footer__links {
  width: 60%;
  columns: 2;
}

.footer__links-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer__link {
  transition: all 0.1s ease;
  display: inline-block;
}

.footer__link:not(:last-of-type) {
  margin-bottom: 10px;
}

.footer__link:hover {
  color: #68d9b9;
}

.footer__about-box {
  width: 50%;
  color: grey;
}

.footer__about {
  text-align: justify;
}

.footer__about-link {
  transition: all 0.1s ease;
}

.footer__about-link:hover {
  color: #68d9b9;
  cursor: pointer;
}

@media only screen and (max-width: 1200px) {
  .footer__content {
    flex-direction: column;
  }

  .footer__links {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 30px;
  }

  .footer__about-box {
    width: 100%;
    margin-bottom: 20px;
  }

  .footer__logo {
    width: 450px;
  }
}

@media only screen and (max-width: 800px) {
  .footer {
    position: relative;
  }

  .footer::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 3px;
    background-image: linear-gradient(to right, #68d9b9, #5edac9, #58dbd8, #5adbe5, #62dbf0);
  }
}

@media only screen and (max-width: 700px) {
  .footer, .footer__link {
    font-size: 14px;
  }

  .footer {
    width: 100%;
  }

  .footer__about-box {
    display: none;
  }

  .footer__logo {
    width: 350px;
  }
}

@media only screen and (max-width: 550px) {
  .footer {
    padding: 10px 15px;
  }
}

/***********/
/* classes */
/***********/

/* ****** */
/* GRID FOR FUNCTIONS CARDS */
/* ****** */

.row {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  justify-content: center;
  grid-gap: 150px;
}

/* media for functions card grid */

@media only screen and (max-width: 1400px) {
  .row {
    grid-template-columns: repeat(3, 300px);
    grid-gap: 75px;
    grid-template-rows: 340px;
  }
}

@media only screen and (max-width: 1100px) {
  .row {
    grid-template-columns: repeat(3, 250px);
    grid-gap: 50px;
    grid-template-rows: 320px;
  }
}

@media only screen and (max-width: 900px) {
  .row {
    grid-template-columns: repeat(1, 350px);
    grid-template-rows: 270px;
  }
}

@media only screen and (max-width: 500px) {
  .row {
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: 130px;
    grid-gap: 5px;
  }
  .functions__card {
    border-radius: 5px;
  }
}

@media only screen and (max-width: 400px) {
  .row {
    grid-template-columns: repeat(3, 120px);
  }
}

/* ****** */
/* GRID FOR COURSES */
/* ****** */

.row-courses {
  display: grid;
  grid-template-columns: repeat(6, 230px);
  grid-gap: 25px;
}

/* media for courses card */

.row-courses:not(:last-of-type) {
  margin-bottom: 50px;
}

@media only screen and (max-width: 1700px) {
  .row-courses {
    grid-template-columns: repeat(5, 230px);
  }
}

@media only screen and (max-width: 1420px) {
  .row-courses {
    grid-template-columns: repeat(4, 230px);
  }
}

@media only screen and (max-width: 1150px) {
  .row-courses {
    grid-template-columns: repeat(3, 230px);
  }
}

@media only screen and (max-width: 860px) {
  .row-courses {
    grid-template-columns: repeat(3, 200px);
  }
}

@media only screen and (max-width: 780px) {
  .row-courses {
    grid-template-columns: repeat(2, 250px);
  }
}

@media only screen and (max-width: 630px) {
  .row-courses {
    grid-template-columns: repeat(2, 220px);
  }
}

@media only screen and (max-width: 560px) {
  .row-courses {
    grid-template-columns: repeat(1, 100%);
  }
}

/* @media only screen and (max-width: 500px) {
  .row-courses {
    grid-gap: 10px;
    grid-template-columns: repeat(2, 150px);
  }
} */

.btn {
  text-decoration: none;
  padding: 10px 15px;
  border: 1px solid #68d9b9;
  background-color: #68d9b9;
  border-radius: 4px;
  color: #fff;
}

.btn:hover {
  color: #68d9b9;
  background-color: #fff;
  border: 1px solid #68d9b9;
}

.margin--right {
  margin-right: 7px;
}

.margin--right-big {
  margin-right: 70px;
}

#body--filter {
  transition: .5s;
}

.body--filter {
  filter: blur(1px);
}

.overflow {
  overflow-x: hidden;
}

@media only screen and (max-width: 1300px) {
  .margin--right-big {
    margin-right: 35px;
  }
}

/**************************/
/* ANIMATIONS & KEYFRAMES */
/**************************/

@keyframes mymove {
  from {
    top: -69px;
  }
  to {
    top: 0px;
  }
}
/*       */
/* LOGIN */
/* ***** */

.login {
  margin: 150px auto;
}

.login__wrapper {
  margin: 0 auto;
  width: 25%;
  padding: 2% 3%;
  border: 1px solid #ededed;
  border-bottom: 0;
  background-color: #fff;
  position: relative;
}

.login__wrapper::after {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0%;
  left: 0%;
  height: 4px;
  background-image: linear-gradient(to right, #68d9b9, #5edac9, #58dbd8, #5adbe5, #62dbf0);
}

.login__header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  border-bottom: 1px solid #ededed;
  padding-bottom: 10px;
}

.login__img {
  height: 50px;
}

.login__heading {
  display: inline-block;
  color: rgb(160, 160, 160);
  font-size: 16px;
  font-weight: normal;
}

.login__box, .password__box {
  display: flex;
  flex: 1 0 auto;
  position: relative;
}

.login__box {
  margin-bottom: 20px;
}

.login__icon-box, .password__icon-box {
  width: 40px;
  height: 40px;
  position: relative;
  background-color: #f2f2f2;
}

.login__icon, .password__icon {
  color: #e3e3e3;
  font-size: 16px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.login__input, .password__input {
  border: 0;
  padding: 10px 15px;
  border: 1px solid #f3f3f3;
  border-left: 0;
  width: 100%;
  outline: none;
  border-radius: 0;
}

.login__input:focus + .login__placeholder, .password__input:focus + .password__placeholder {
  top: 100%;
  font-size: 12px;
  display: block;
  opacity: 1;
}

.password__box {
  margin-bottom: 30px;
}

.login__input:focus + .login__icon-box .login__icon, .password__input:focus + .password__icon-box .password__icon {
  color: #68d9b9;
}

.login__button {
  width: 60%;
  margin: 0 auto;
  display: block;
  padding: 12px 15px;
  background-color: #68d9b9;
  border-radius: 3px;
  border: 0;
  color: #fff;
  border: 1px solid transparent;
}

.login__button:hover {
  cursor: pointer;
  background-color: #fff;
  color: #68d9b9;
  border: 1px solid #68d9b9;
}

.password__placeholder, .login__placeholder {
  position: absolute;
  top: 26%;
  left: 19%;
  font-size: 14px;
  z-index: -10;
  color: #68d9b9;
  opacity: 0;
  transition: .6s;
}

.login__text {
  display: flex;
  margin-top: 15px;
  justify-content: space-between;
}

.login__link {
  font-size: 13px;
  color: #68d9b9;
  transition: .4s;
}

.login__link {
  font-size: 13px;
}

.login__link:hover {
  color: #3ec29d;
}

.footer__login {
  padding: 3% 5%;
  background-color: #fdfdfd;
  border-top: 1px solid #ededed;
}

.footer__content-login {
  margin-top: 0;
}

.footer__login-img--box {
  text-align: center;
}

.signup__text {
  text-align: center;
  margin-top: 15px;
}

.footer__login {
  width: 100%;
  margin-top: auto;
}

.footer__login .footer__about-box {
  display: none;
}

.footer__content-login .footer__links {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}


@media only screen and (max-width: 1500px) {
  .login__wrapper {
    width: 35%;
  }
  .footer__login  .footer__link {
    font-size: 14px;
  }
  .footer__links-login {
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 1100px) {
  .login__wrapper {
    width: 40%;
  }

  .footer__login-img {
    width: 500px;
  }
}

@media only screen and (max-width: 900px) {
  .login__wrapper {
    width: 65%;
    top: 30%;
  }

  .login__text {
    margin-bottom: 20px;
  }

  .footer__login-img {
    width: 400px;
  }
}
@media only screen and (max-width: 500px) {
  .login__wrapper {
    width: 80%;
  }
  .footer__login-img {
    width: 350px;
  }
}
@media only screen and (max-width: 450px) {
  .login__wrapper {
    width: 90%;
  }
  .footer__login-img {
    width: 300px;
  }
}

.password__input:focus::-webkit-input-placeholder, .login__input:focus::-webkit-input-placeholder { color:transparent; }
.password__input:focus:-moz-placeholder, .login__input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
.password__input:focus::-moz-placeholder, .login__input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
.password__input:focus:-ms-input-placeholder, .login__input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */
